{% extends 'all-photo/base.html' %}
{% block content %}
<h1>Fashion</h1>
{% for photo_item in images %}

 
    <!-- displaying photo images -->
    
    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> -->
      <!-- <h2 class="text-center"> {{ photo_item.Description }} </h2> -->
      <!-- <img src="{{photo_item.image.url}}" class="img-responsive" alt="Image"> -->
    <!-- </div> -->

    <!--Display news photo images  -->
    <div class="card ">
              <div id="image" class="p-1">
                <div id="front" class="zoom">
                  <div class="overlay">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{photo_item.image.url}}" class="img-responsive" alt="Image">
    </div>
                  </div>
                </div>

            </div>

  {% endfor %}
  {% endblock %}