<h1>Fashion</h1>
{% for photo_item in images %}
    <div class="card ">
              <div id="image" class="p-1">
                <div id="front" class="zoom">
                  <div class="overlay">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <!-- <h1 class="">{{photo_item}}</h1> -->
      <img src="{{photo_item.image.url}}" data-toggle="modal" data-target="#exampleModal{{photo_item.id}}"class="img-responsive" alt="Image" style="max-width:600px;">
    </div>
                  </div>
                </div>          
  {% endfor %}
  {% endblock %}