h1{
    color:purple;
    text-align: center;
}

.index {
    column-count: 2;
}


.jumbotron{
  background-color:purple ;
}
.overlay{
  background-color: blue;
}
.well{

}
#container{
background-color: silver ;
}